#board{
  width: 450px;
  margin: auto;
  font-size: 128px;
  align: center;
  background-color: #647678;
}

.row {
  width: 450px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0px;
}

.col-sm-4 {
  border-right: 1px solid black;
  border-left: 1px solid black;
}

#top-left, #top-mid, #top-right, #mid-left, #mid-mid, #mid-right, #bottom-left, #bottom-mid, #bottom-right{
  height:150px;
  width:150px;
}

.container {
  margin-top: 12px;
}

#players, #results {
  display:none;
  text-align: center;
  margin-top: 25px;
}

.lead{
  font-size: 9em;
  color: #D5FBFF;
}

body {
  cursor: url('../img/tic.png'), default;
  background-color: #2F3738;
  color: #D5FBFF;
}

.tic {

}


.X {
  cursor: url('../img/x.png'), default;


}

.O {
  cursor: url('../img/circle.png'), default;

}
